body {
    font-family: Arial, sans-serif;
    font-size:14px;
}

a {
    text-align: center;
    text-decoration: none;
}

table {
    margin: 15px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

th {
    background: #eee;
    border: 1px solid #ddd;
}

th, td {
    padding: 7px;
    text-align: center;
}

.week-0 {
    color: red;
}
.week-6 {
    color: blue;
}

.gray {
    color: #dedede;
}

.today {
    font-weight: bold;
    background: #9fdef5;
}