body {
    font-family: Arial,sans-serif;
    width: 500px;
}

#container {
    width: 100%;
    margin: 15px auto;
}

h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul > li {
    padding-bottom: 10px;
}

#new_todo {
    padding: 8px;
    border-radius: 3px;
    width: 100%;
    margin: 0 auto 15px;
    font-size: 16px;
}

.delete_todo {
    float: right;
    display: inline-block;
    color: #ccc;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

#todo_template {
    display: none;
}